
<div class="c-about">
  <h2 class="c-about__title"> Who We Are </h2>

  <div class="c-about__summary">
    Tech, Rebalanced was started to get more underrepresented genders (women, trans, and non-binary folks) into tech. Each year in D.C. hundreds gather for a day of friendly learning and hacking. Coders, tech strategists, newbies, nerds, and the curious are all welcome! 
    
    We are committed to building: 

    <ul> 
      <li> An Open, Transparent and Community-Driven Movement </li>
      <li> An Inclusive and Safe Space </li>
      <li>A Sustainable Organization with a Strong Foundation </li>
    </ul>
    <h4> Learn more about Tech, Rebalanced 2019, our shift in leadership and the formation of the inaugural advisory board. <a href="https://docs.google.com/document/d/1FuFwjVhX4dDHUILNX0Dgdnwe2BxVwJggmM6mNHCyXuU/edit?usp=sharing"> &#8594; </a> </h4>
  </div>

  <h4 class="c-about__apply"> Apply to join the Tech, Rebalanced advisory board. <a href="https://docs.google.com/forms/d/e/1FAIpQLSdbN-dI_VwOuZe6ctHJ55JCoPYrtkai0nWCdrYk2mA3MP09gA/viewform"> &#8594; </a> </h4>

</div>
