
<div class="c-about">
  <h2 class="c-about__title"> Who we are </h2>

  <div class="c-about__summary">
    Tech, Rebalanced was started to get more underrepresented genders (women, trans, and non-binary folks) into tech. Each year in D.C. hundreds gather for a day of friendly learning and hacking. Coders, tech strategists, newbies, nerds, and the curious are all welcome! 
    
    We are committed to building: 

    <ul> 
      <li> An Open, Transparent and Community-Driven Movement </li>
      <li> An Inclusive and Safe Space </li>
      <li>A Sustainable Organization with a Strong Foundation </li>
    </ul>
    <div> Learn more about Tech, Rebalanced 2019, our shift in leadership and the formation of the inaugural advisory board. </div>
  </div>

  <br/>

  <div class="c-about__apply"> Apply to join the Tech, Rebalanced advisory board <a href="mailto:techrebalanced@gmail.com
    "> &#8594; </a > </div>
  
</div>
