<div class="c-cta__box c-cta__donate"> 
    <h2 class="c-cta__title"> Donate </h2>

    <div class="c-cta__donate-stripe"> Donate below with Stripe: </div class="c-cta__donate-text">

    <form class="c-cta__stripe">
        <div id="donate">

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">$</span>
            <input type="number" id="donation-amount" class="form-control" value="25" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
          </div>
      
          <input type="text" class="form-control" id="special-instructions" placeholder="Special instructions">
      
          <button type="submit" class="btn btn-primary" id="donationButton">Make donation</button>
        </div>
      </form>
    <div class="c-cta__donate-text"> Learn more about our mission and how you can support us by visiting our <a target="_blank" href="https://www.patreon.com/tech_rebalanced">Patreon</a>.</div>
</div>