
.c-about {
  margin: $space-32;
  font-size: $size-18;
  font-family: $font-roboto-light;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  
  @include breakpoint($breakpoint-medium) {
    padding: $space-16 72px;
    margin: $space-32;
  }
}

.c-about p {
  margin: 0;
  line-height: 1.3;
}



