
.c-about__title {
  font-family: $font-playfair;
  font-size: $size-36;
  margin-bottom: $space-8;
}

.c-about__content {
  font-size: $size-16;
  font-family: $font-sourcesans;
  font-weight: 400;
}

