.c-bio__about {
  font-family: $font-playfair;
  font-size: $size-36;
  margin-bottom: $space-8;
}

.c-bio__description {
  font-family: $font-sourcesans;
  font-size: $size-24;
}

.c-bio__photos {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.c-bio__headshot {
  margin: $space-8 auto;
  width: 250px;
}

.c-bio__headshot--img {
  width: 100%;
}

.c-bio__name {
  text-align: center;
  font-family: $font-sourcesans;
  font-size: $size-18;

}
