.c-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint($breakpoint-medium) {
        flex-direction: row;
    }
}

.c-cta__box {
    margin: $space-16 0;
    background-color: rgb(149, 197, 249);
    border-radius: 2px;
    color: rgb(0, 4, 96);
    font-family: $font-roboto-light;
    border: 2px solid rgb(0, 4, 96);



    a { 
        color: rgb(0, 4, 96);
    }

    @include breakpoint($breakpoint-medium) {
        margin: $space-32;
        padding: 0 0 $space-16 0;
    }
}

h2.c-cta__title {
    color: rgb(0, 4, 96);
    font-family: $font-roboto;
    font-size: $size-32;
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
    margin: $space-8;
}


#donation-amount {
    margin-right: 0px;
}