.c-footer {
    background-color: black;
    color: white;
    display: flex;
    padding: $space-8;
    align-items: flex-end;
}

.c-footer__copyright {
    font-size: $size-14;
    font-family: $font-roboto-light;
    padding: $space-16 $space-8;


    @include breakpoint($breakpoint-medium) {
        font-size: $size-14;
        padding: $space-16;
    }
}


.c-footer__contact {
    display: flex;
    font-family: $font-roboto;
    
    li {
        list-style-type: none;
        padding: 0 $space-8;
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}