.c-landing__title {
  font-family: $font-playfair;
  font-size: $size-48;
  margin-bottom: $space-12;
}

.c-landing__subtitle {
  font-family: $font-sourcesans;
  font-size: $size-14;
  margin-bottom: $space-48;
  font-weight: $weight-bold;
  line-height: 1.5;
}

.c-landing__save {
  width: $width-200;
  height: $width-200;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background-color: $color-grey;
  border: 12px solid $color-dark-grey;
  margin: 0 auto;
}


.c-landing__save-text {
  font-family: $font-sourcesans;
  position: relative;
  top: 60px;
}

.c-landing__bold {
  font-weight: $weight-bold;
}
