nav {
    width: 100%;
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: $space-8 0;
}

.c-logo {
    color: black;
    font-size: $size-48;
    font-family: $font-rubik;
    padding-left: $space-8;
    -webkit-text-stroke: 1px #fff;

    &:hover {
        cursor: pointer;
        -webkit-text-stroke: 1px rgb(71, 94, 225);
    }
}